/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	text-decoration: none;
}

nav a {
	text-decoration: none;
}
a:active,
li:active {
	text-decoration: none;
	font-weight: bold;
}
li:hover,
a:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
}
#introduction  figure img {
	display: block;
	margin: auto;
	width: 80%;
}
.edition {
	display: flex;
    
    width: 80%;
}
.edition img {
	width: 16px;
	height: 16px;
	margin: inherit;
}
#edit-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#editIcon {
	width: 16px;
    height: 16px;
}
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

body {
	background-color: #FFFEF8;
}

footer {
	background-color: #FFFFFF;
}

  
#login-form  {
	width: 50%;
	margin: auto;
}
#login-form  > * {
	text-align: center;

}
#login-form  h2{
	margin-bottom: 20px;
}
#login-form  form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login-form  input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login-form  label {
	margin: 2em 0 1em 0;
}
#login-form  textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}


/* Style de la modale */
.modal {
	display: none; 
	position: fixed;
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
}

#openModal {
	justify-content: center;
    margin-bottom: 1em;
    margin-left: 20px;

}
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 34%;
	height: 635px;
	position: relative;
}
.modal #galleryModal {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}
.modal #galleryModal figure {
	margin: 10px;
}

#modalPhoto {
	width: 70px;
}


.modal-header {
	display: flex;
	justify-content: space-between;
}

#myModal .modal-header {
	display: flex;
	width: 70%;
    margin-left: 30%;
}

.close {
    font-size: 28px;
    font-weight: bold;    
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.goBack {
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.modal-body {
	padding: 20px;
	height: 65%;
}

.modal-body > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
.modal-body form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#addPhotoModal .modal-body {
	height: 80%;
}
#trashIcon {
	width: 16px;
	height: 16px;
	position: absolute;
}
.modal-body a {
	display: flex;
	flex-direction: row-reverse;
}
select {
	height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-top: 10px;
}
.modal-body input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-top: 10px;
}

.modal-body textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.modal-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #888;
}

button {
	font-family: 'Syne';
	height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

a {
	cursor: pointer;
}

#galleryModal img {
    width: 75%;
}
#galleryModal a img {	
	display: block;
    width: auto;
	margin-right: 15px;
    margin-top: 5px;
}
#galleryModal figure {	
    width: 15%;
}

#formAddPhoto input:first-of-type {
	display: none;
}
#preview {
	background-color: #CBD6DC;
    height: 170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	color: #85acc1;
	padding-bottom: 15px;
}
#preview #addButton {
    color: #85acc1;
    background-color: inherit;
    border: #85acc1 solid 1px;
    box-shadow: none;
    border-radius: 60px;
    cursor: pointer;
    font-family: 'Syne';
    font-size: 1.2em;
    margin: 10px;
    width: 180px;
    text-align: center;
    padding: 10px;
}
#preview img {
	color: #85acc1;
    width: 75px;
    margin-top: 15px;
}
#deleteGalleryLink {
	color: #f44336;
	text-decoration: none;
}
#goBack {
	height: 20px;
    margin-top: 3px;
}
#deleteGalleryLink:hover {
	text-decoration: underline;
}
  
.category button {
	border-radius: 20px;
    border: #1D6154 2px solid;
    background-color: #FFFEF8;
    color: #1D6154;
    padding-left: 25px;
    padding-right: 25px;
    height: 35px;
    font-size: 20px;
    margin: auto;
    width: auto;
}

.category button:hover {
	background-color: #1D6154;
	color: white;
}

.category {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
    height: 35px;
	margin-bottom: 35px;
	margin-top: 50px;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
